# List Examples

In [ ]:
list1 = [1, 2, 3, 4, 5]
print(list1)

In [ ]:
list2 = ['a', 'b', 'c']
print(list2)

In [ ]:
list3 = [1, 'a', 3.14]
print(list3)

In [ ]:
list4 = list(range(10))
print(list4)

In [ ]:
list5 = [x**2 for x in range(10)]
print(list5)

In [ ]:
list6 = [x for x in range(10) if x % 2 == 0]
print(list6)

In [ ]:
list7 = [1, 2] + [3, 4]
print(list7)

In [ ]:
list8 = [0] * 5
print(list8)

In [ ]:
list9 = list('hello')
print(list9)

In [ ]:
list10 = [i for i in range(5)]
print(list10)

# Tuple Examples

In [ ]:
tuple1 = (1, 2, 3)
print(tuple1)

In [ ]:
tuple2 = ('a', 'b', 'c')
print(tuple2)

In [ ]:
tuple3 = (1, 'a', 3.14)
print(tuple3)

In [ ]:
tuple4 = tuple(range(10))
print(tuple4)

In [ ]:
tuple5 = (1, 2) + (3, 4)
print(tuple5)

In [ ]:
tuple6 = (0,) * 5
print(tuple6)

In [ ]:
tuple7 = tuple('hello')
print(tuple7)

In [ ]:
tuple8 = tuple(i for i in range(5))
print(tuple8)

In [ ]:
tuple9 = (1, 2, (3, 4))
print(tuple9)

In [ ]:
tuple10 = tuple(i for i in range(5))
print(tuple10)

# Set Examples

In [ ]:
set1 = {1, 2, 3, 4, 5}
print(set1)

In [ ]:
set2 = {'a', 'b', 'c'}
print(set2)

In [ ]:
set3 = {1, 'a', 3.14}
print(set3)

In [ ]:
set4 = set(range(10))
print(set4)

In [ ]:
set5 = {x**2 for x in range(10)}
print(set5)

In [ ]:
set6 = {x for x in range(10) if x % 2 == 0}
print(set6)

In [ ]:
set7 = set('hello')
print(set7)

In [ ]:
set8 = {i for i in range(5)}
print(set8)

In [ ]:
set9 = {1, 2, 3, 4, 5}
print(set9)

In [ ]:
set10 = {i for i in range(5)}
print(set10)

# Dictionary Examples

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
print(dict1)

In [ ]:
dict2 = {1: 'one', 2: 'two'}
print(dict2)

In [ ]:
dict3 = {'a': 1, 1: 'a'}
print(dict3)

In [ ]:
dict4 = dict(zip(['a', 'b', 'c'], [1, 2, 3]))
print(dict4)

In [ ]:
dict5 = {x: x**2 for x in range(10)}
print(dict5)

In [ ]:
dict6 = {x: x for x in range(10) if x % 2 == 0}
print(dict6)

In [ ]:
dict7 = dict(a=1, b=2, c=3)
print(dict7)

In [ ]:
dict8 = {i: i for i in range(5)}
print(dict8)

In [ ]:
dict9 = {'a': 1, 'b': {'c': 2}}
print(dict9)

In [ ]:
dict10 = {i: i for i in range(5)}
print(dict10)